/* navbar css */
.navbar{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}
.navbar ul li{
    padding: 20px;
}
.navbar li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    position: relative;
}
.navbar li a.active{
    color: #fff !important;
}
.navbar li a::after, .navbar .active::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    transform: scaleX(0);
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform-origin: bottom right;
    transition: transform .5s;
}
.navbar li a:hover::after, .navbar .active::after{
    transform: scaleX(1);
    transform-origin: bottom left;

}

/* hero section css */
.hero_section{
    height: 100vh;
    background-color: #262525;
    overflow: hidden;
}

.hero_section .left-container{
    padding-left: 3rem;
    height: 100vh;
}
.icons{
    display: flex;
    flex-direction: column;
    gap: 3rem ;
    justify-content: center;
    align-items: center;
}
.icons .fa-brands{
    color: #bbb;
    font-size: 1.7rem;
}
.icons .fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(#fff,#5db9ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content{
    margin-left: 4rem;
}
.content .intro{
    font-size: 1.5rem;
    color: #fff;
}
.content .intro span{
    color: #5db9ee;
}
.content h1{
    font-size: 4rem;
    color: #5db9ee;
}
.content .detail{
    font-size: 1.1rem;
    color: #fff;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;
}
.btn button{
    border: .1rem solid #5db9ee;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}
button:nth-child(1){
    background-color: #5db9ee;
    color: #262525;
}
button:nth-child(2){
    background: transparent;
    color: #5db9ee;
    margin-left: 3rem;
}
button:nth-child(1):hover{
    background: transparent;
    color: #5db9ee;
}
button:nth-child(2):hover{
    background: #5db9ee;
    color: #262525;
}

.gradiant_bg{
    margin-left: auto;
    width: 442px;
    height: 800px;
    background: linear-gradient(-45deg,#3738ff,#262525 70%);
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate( -50%, -50%);
}
.circle:nth-child(1){
    background: linear-gradient(90deg ,transparent 50%,#262525 50%);
    width:30rem;
}
.circle:nth-child(2){
    background-image: url("image/WhatsApp\ Image\ 2024-04-30\ at\ 12.26.35_48ebabe3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 25rem;
    border: 1rem solid white;
    box-shadow: 0 0 1rem #fff, inset 0 0 1rem #fff, 0 0 2rem #3738ff,inset 0 0 2rem #3738ff,0 0 4rem #3738ff,inset 0 0 4rem #3738ff ;
}

@media (max-width:1024px) {
    /* genral css */
    button.navbar-toggler {
        display: none;
    }
    .navbar .navbar-collapse{
        display: block;
    }
    .navbar .navbar-collapse ul{
        display: -webkit-inline-box !important;
    }
    .hero_section .left-container {
        padding-left: 1.5rem;
        height: 70vh;
    }
    .content{
        margin-left: 2.5rem;
    }
    .content h1{
        font-size: 2.5rem;
    }
    
    .btn button {
        border: .1rem solid #5db9ee;
        font-size: 16px;
        padding: 10px;
        border-radius: .5rem;
        cursor: pointer;
        transition: .5s ease;
    }
    .design .circle {
        aspect-ratio: 1;
        position: absolute;
        border-radius: 50%;
        top: 30%;
        left: 70%;
        transform: translate( -50%, -50%);
    }
    .circle:nth-child(2){
        width: 18rem;
    }
    .circle:nth-child(1) {
        background: linear-gradient(90deg ,transparent 50%,#262525 50%);
        width: 22rem;
    }
    .gradiant_bg {
        margin-left: auto;
        width: 230px;
        height: 662px;
        background: linear-gradient(-45deg,#3738ff,#262525 70%);
    }
}

@media (max-width:767px) {
    .hero_section {
        height: 100vh;
        background-color: #262525;
        overflow: visible;
    }
    .design .circle {
        aspect-ratio: 1;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    button.navbar-toggler {
        display: block;
    }
    .circle:nth-child(2) {
        width: 230px;
    }
    .circle:nth-child(1) {
        background: linear-gradient(90deg ,transparent 50%,#262525 50%);
        width: 260px;
    }
    .design .circle {
        aspect-ratio: 1;
        position: absolute;
        border-radius: 50%;
        top: 35%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .gradiant_bg {
        margin-left: auto;
        width: 186px;
        height: 387px;
        background: linear-gradient(-45deg,#3738ff,#262525 70%);
    }
    .navbar .navbar-collapse {
        display: none;
    }
    .content h1 {
        font-size: 30px;
    }
    .content .intro {
        font-size: 18px;
    }
    .content .detail {
        font-size: 16px;
        max-width: 38rem;
        margin: 10px 0;
        line-height: 26px;
    }
    .hero_section .container-fluid{
        padding: 0;
    }
    .uni_padding{
        padding: 0;
    }
    .hero_section .left-container{
        background-color: #262525;
    }
}